@import "@repo/theme/theme.css";
@import "tailwindcss";

@source "./**/*.{ts,tsx,js,jsx,mdx}";
@source "../../../packages/**/*.{ts,tsx,js,jsx,mdx}";

* {
  box-sizing: border-box !important;
  font-family: var(--font-yekanbakh);
}

:root {
  --primary-50: #f4f6f6;
  --primary-100: #bfcbc6;
  --primary-200: #899f97;
  --primary-300: #547468;
  --primary-400: #274d3f;
  --primary-500: #224337;
  --primary-600: #1d3a2f;
  --primary-700: #183027;
  --primary-800: #13261f;
  --primary-900: #0e1c17;
  --primary-950: #09130f;

  --secondary-50: #fcfaf7;
  --secondary-100: #ebe3cf;
  --secondary-200: #dacca8;
  --secondary-300: #c9b580;
  --secondary-400: #b29b5b;
  --secondary-500: #9b8750;
  --secondary-600: #857444;
  --secondary-700: #6e6039;
  --secondary-800: #584d2d;
  --secondary-900: #413922;
  --secondary-950: #2b2516;

  --auth-header-height-mobile: 72px;
}

@theme inline {
  --height-auth-header-height-mobile: var(--auth-header-height-mobile);
}

.input-border-b-glow {
  position: relative;
}
.input-border-b-glow::after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -2px;
  height: 2px;

  background: radial-gradient(
    ellipse at top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 70%
  );

  opacity: 0;
  transform-origin: bottom center;
  transform: scale(0.8);
  transition:
    opacity 0.25s ease-out,
    transform 0.25s ease-out;
  will-change: transform, opacity;
}
.input-border-b-glow:focus-within::after {
  opacity: 1;
  transform: scale(1);
}
