@import "@repo/theme/theme.css";
@import "tailwindcss";

@source "./**/*.{ts,tsx,js,jsx,mdx}";
@source "../../../packages/**/*.{ts,tsx,js,jsx,mdx}";

* {
  box-sizing: border-box !important;
  font-family: var(--font-yekanbakh);
}

:root {
  --primary-50: oklch(0.9005 0.0085 168.5022);
  --primary-100: oklch(0.8005 0.0191 166.1537);
  --primary-200: oklch(0.6997 0.0269 167.8212);
  --primary-300: oklch(0.599 0.0351 168.3749);
  --primary-400: oklch(0.5008 0.0453 167.0261);
  --primary-500: oklch(0.4006 0.0525 167.3316);
  --primary-600: oklch(0.3578 0.0437 167.7563);
  --primary-700: oklch(0.3135 0.0353 165.8865);
  --primary-800: oklch(0.2678 0.0254 170.2097);
  --primary-900: oklch(0.2268 0.0185 165.059);
  --primary-950: oklch(0.1782 0.0124 166.8464);

  /* --primary-50: #f3f6f6;
  --primary-100: #b6cccc;
  --primary-200: #79a1a1;
  --primary-300: #3c7676;
  --primary-400: #0a5050;
  --primary-500: #094646;
  --primary-600: #083c3c;
  --primary-700: #063232;
  --primary-800: #052727;
  --primary-900: #041d1d;
  --primary-950: #031313; */

  --secondary-50: #fcfaf7;
  --secondary-100: #ebe3cf;
  --secondary-200: #dacca8;
  --secondary-300: #c9b580;
  --secondary-400: #b29b5b;
  --secondary-500: #9b8750;
  --secondary-600: #857444;
  --secondary-700: #6e6039;
  --secondary-800: #584d2d;
  --secondary-900: #413922;
  --secondary-950: #2b2516;

  --auth-header-height-mobile: 72px;
}

@theme inline {
  --height-auth-header-height-mobile: var(--auth-header-height-mobile);
}

/* .input-border-b-glow {
  position: relative;
}
.input-border-b-glow::after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -2px;
  height: 2px;

  background: radial-gradient(
    ellipse at top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 70%
  );

  opacity: 0;
  transform-origin: bottom center;
  transform: scale(0.8);
  transition:
    opacity 0.25s ease-out,
    transform 0.25s ease-out;
  will-change: transform, opacity;
}
.input-border-b-glow:focus-within::after {
  opacity: 1;
  transform: scale(1);
} */

.input-border-b-glow {
  position: relative;
}

.input-border-b-glow::after {
  content: "";
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -2px;
  height: 2px;

  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.35) 40%,
    rgba(255, 255, 255, 0) 70%
  );

  opacity: 0;
  transform: scaleX(0.85);
  transform-origin: center;

  filter: blur(0.3px);

  transition:
    opacity 0.25s ease-out,
    transform 0.25s ease-out;

  will-change: opacity, transform, filter;
}

.input-border-b-glow:focus-within::after {
  opacity: 1;
  transform: scaleX(1);
  animation: glow-pulse 1.8s ease-in-out infinite;
}
@keyframes glow-pulse {
  0% {
    opacity: 0.7;
    filter: blur(0.4px);
  }

  50% {
    opacity: 1;
    filter: blur(0.8px);
  }

  100% {
    opacity: 0.7;
    filter: blur(0.4px);
  }
}
